<h1>Online Hipster Farmers Market</h1>
<p>People go to farmers markets for many reasons. The jovial, wholesome atmosphere makes people feel good about their communities and the hard work put in by area farmers. Sometimes, we even want to buy something. But actually purchasing food is becoming an increasingly rare act, according to a recent Washington Post article.

Sipping on their lattes, deep in conversation, they care more about the scene than the cilantro. They might purchase a breakfast taco, he observed, but no basil. Maybe a pint of strawberries, but no rhubarb. And in their unhurried schmoozing they clog up the aisles like arterial plaque, impeding the flow of serious shoppers looking for actual produce. But that's if the serious shoppers can even get to the market in the first place, because parking stinks.

And now we sell vinyl too!</p>